// 按钮颜色
$btn_primary_color: #4679FF;
$btn_disable_color: #8c8c8c;
$btn_delete_color: #E62412;

// 主题辅助色
$general_primary_color: #4679FF;
$text_primary_color: #595959;
$text_secondary_color: #8c8c8c;
$text_highlight_color: #D46B08;
$text_warning_color: #E62412;

// 字体状态色
$status_disable_color: #595959;
$status_success_color: #038A24;
$status_error_color: #E62412;
$status_progressing_color: #D46B08;
$status_normal_color: #4679ff;

// tag背景状态色
$status_bg_disable_color: #f0f0f0;
$status_bg_success_color: #edffed;
$status_bg_error_color: #ffeded;
$status_bg_progressing_color: #fff7e6;
$status_bg_normal_color: #f0f4ff;


// 目录颜色
$catalogue_primary_color: #4679ff;
$catalogue_file_color: #595959;
$catalogue_selected_bgcolor: #eff4ff;

:export {
	btn_primary_color: $btn_primary_color;
	btn_disable_color: $btn_disable_color;

	general_primary_color: $general_primary_color;
	text_primary_color: $text_primary_color;
	text_secondary_color: $text_secondary_color;
	text_highlight_color: $text_highlight_color;
	text_warning_color: $text_warning_color;

	status_disable_color: $status_disable_color;
	status_success_color: $status_success_color;
	status_error_color: $status_error_color;
	status_progressing_color: $status_progressing_color;
	status_normal_color: $status_normal_color;

	status_bg_disable_color: $status_bg_disable_color;
	status_bg_success_color: $status_bg_success_color;
	status_bg_error_color: $status_bg_error_color;
	status_bg_progressing_color: $status_bg_progressing_color;
	status_bg_normal_color: $status_bg_normal_color;
}
