.cloContent_box_left{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.cloContent_box_center{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cloContent_box_right{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
