.simpleTag_container{
	// height: 22px;
	padding: 0 8px;
	background: #F0F4FF;
	white-space: nowrap;
	border: 1px solid #a3bcff;
	border-radius: 4px;
	font-size: 12px;
	font-weight: 400;
	color: #4679ff;
	white-space: nowrap;
	line-height: 22px;
	max-width: 100px;
}
